<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hola {{admin?.Nombres}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="Buscar por nombre" #ionBusqueda>
        </ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-fab>
          <ion-fab-button 
            expand="block">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item-sliding *ngFor="let emp of empleados">
            <ion-item>
              <div class="contenedor-gerentes">
                <p class="contenedor-gerentes-contenido">{{emp.IdPersonaOK}}</p>
                <p class="contenedor-gerentes-contenido">{{emp.Nombres}}</p>
                <p class="contenedor-gerentes-contenido">{{emp.Apellidos}}</p>
                <p class="contenedor-gerentes-contenido">{{emp.Celular}}</p>
              </div>
            </ion-item>
            <!--(ionSwipe)=""-->

            <ion-item-options
              side="end"
              expandable>
             <ion-item-option 
                color="danger">
                <ion-icon name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option 
                color="primary">
                <ion-icon name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>

          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-modal [isOpen]="admin?.Generated" [backdropDismiss]="false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Ingresa una contraseña nueva
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <form [formGroup]="formUno">
                <ion-col size="12">
                  <ion-item>
                    <ion-input formControlName="uno" type="password" placeholder="Tu nueva contraseña"></ion-input>
                  </ion-item>
                  <ng-container *ngFor="let val of validationMessages['uno']">
                    <div class="error-message" *ngIf="formUno.get('uno')?.hasError(val.type)&&formUno.get('uno')?.touched">
                      {{val.message}}
                    </div>
                  </ng-container>
                </ion-col>
                <ion-col size="12">
                  <ion-item>
                    <ion-input formControlName="dos" type="password" placeholder="Tu nueva contraseña"></ion-input>
                  </ion-item>
                  <ng-container *ngFor="let val of validationMessages['dos']">
                    <div class="error-message" *ngIf="formUno.get('dos')?.hasError(val.type)&&formUno.get('dos')?.touched">
                      {{val.message}}
                    </div>
                  </ng-container>
                </ion-col>
                <ion-col size="12">
                  <ion-button (click)="changePwd()" expand="full" >
                    Click me
                  </ion-button>
                </ion-col>
                
              </form> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
